section#image-page {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  .button {
    display: block;
    position: fixed;
    &.back-button {
      top: 36px;
      left: 24px;
    }
    &.download-button {
      right: 24px;
      bottom: 24px;
      padding: 12px;
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 3px 12px #00000066;
    }
    &.spinner {
      right: 24px;
      bottom: 24px;
    }
  }
  .image-preview-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .image-preview-full {
      width: 99%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      &.image-preview-full-real {
        display: none;
      }
    }
  }
}
