button.category-button {
  height: 72px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  .capital {
    font-size: 34px;
    // padding-left: 6px;
  }
  .label {
    font-size: 12px;
  }
  .capital,
  .label {
    display: block;
    text-transform: capitalize;
    font-family: 'Work Sans';
    color: white;
    text-align: start;
  }
}
